:root {
    --primario: #fff0e5;
    --primarioOscuro: #D4A373;
    --secundario: #d48173;
    --blanco: #FFF;
    --negro: #000;
    --gris: #a39393;
    --fuentePrincipal: 'Staatliches', cursive;
}


/************** Navbar *************/
.counter {
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;

}


.button {
    color: white;
    border: 0px;
    border-radius: .2rem;
    padding: .5rem;
    margin: auto .5rem;
    background-color: #D4A373;
    transition: .3s;
}

.button:hover {
    background-color: var(--secundario);
}
.navbar {
    background-color: var(--primarioOscuro);
    padding-bottom: 2rem;
}



.navbar a {
    color: var(--primario);
    transition: .5s;
}

.navbar a:hover{
    color: var(--secundario);
}


.dropdown a {
    color: var(--secundario);
}

.dropdown a:hover{
    background-color: var(--primarioOscuro);
    color: var(--primario);
}

.delete-icon {
    color: #000;
    transition: .5s;
}
.delete-icon:hover {
    transform: scale(1.5);
    color: red;
}
.cart-body {
    margin: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
}
.cart-img {
    height: 4rem;
}

.cart-button {
    padding: .5rem;
    color: white;
    text-transform: uppercase;
    border-radius: .3rem;
    background-color: var(--primarioOscuro);
    transition: .3s ease;
}
.cart-button:hover{
    background-color: #d48173;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.cart-icon:hover {
    transform: scale(1.3)
}
.cart-icon span {
    font-size: 1rem;
}

.body {
    padding-top: 4rem;
    height: 100%;
    min-width: 100%;
    min-height: 100vh;
    background: var(--primario);
}



.nosotros {
    display: flex;
    justify-content: center;
    color: aliceblue;
    text-align: center;
}

.nosotros img {
    width: 30rem;
}



.product-content {
    margin: auto;
    width: 60%;
    color: var(--gris);
    text-align: center;
    display: flex;
    flex-direction: column;
} 

.product-span {
    align-self: center;
}

.product-content img {
    width: 30%;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 4rem ;
}

.list-title {
    opacity: 80%;
    margin-bottom: 2rem;
    color: var(--gris);
    text-transform: uppercase;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primarioOscuro);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    max-height: 25rem;
    transition: .5s;
} 

.card:hover {
        box-shadow: .5rem .2rem 1.5rem .2rem black;
        transform: scale(1.02)
}

.card-img {
    margin-top: 1rem;
    align-self: center;
    width: 60%;
    object-fit: contain;
    border-radius: .5rem;
    transition: .3s ease;
}

.card:hover .card-img {
            transform: translateY(-20%);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-title {
            font-size: 1rem!important;
    }


.card-body {
        max-height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.card-price {
    opacity: 60%;
}

.card-button {
            font-weight: 600;
            border: 0px;
            border-radius: .2rem;
            color: white;
            text-transform: uppercase;
            background-color: var(--primarioOscuro);
            margin-bottom: .5rem;
            padding: .5em;
            cursor: pointer;
            transition: .3s ease-in-out;
}

.card-button:hover {
    background-color: var(--secundario);
    
}
            
.card-link {
    color: var(--secundario);
}
.card-link:hover{
    color: var(--primario);
}
.card-footer:hover {
                border: 1px solid #ffcaa6;
                background-color: var(--secundario);
}


/******************** Footer *********************/


.footer {
    background-color: var(--primarioOscuro);
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-between;
}



    
.footer svg {
    color: white;
    opacity: 60%;
    margin: .5rem;
    height: 2rem;
    width: 2rem;
    transition: .5s;
}   

.footer svg:hover{
    color: #723d46;
    opacity: 100%;
}
    
        
            
.social__logo {
        display: flex;
        width: 100%; 
        justify-content: center; 
    
}
.social {
    font-size: 1.2rem;
    width: 20rem;
    text-align: center;
}

.footer__texto {
    margin: auto;
    text-align: center;
    color: var(--primario);
}
.footer ul {
    list-style-type: none;
    font-size: 1.2rem;
}

.footer ul a {
    text-decoration: none;
    color: var(--primario);
    transition: .5s;
} 

.footer ul a:hover {
    color: var(--secundario);
    
}

.footer p {   
        color: var(--primario);
}