/* 

.imagen-gato {
    display: block;

}

.nosotros {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    color: aliceblue;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.nosotros-text {
    margin-top: 4rem;
}

.producto {
    margin: auto;
    width: 60%;
    color: aliceblue;
    text-align: center;
    display: flex;
} 

.producto img {
    max-width: 40%;
}

.card-img {
    margin: auto;
} */
