.imagen-gato {
    display: block;

}

.nosotros {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    color: aliceblue;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.nosotros-text {
    margin-top: 4rem;
}
.product-list {
    display: flex;
    justify-content: space-between;

}
.producto {
    margin: auto;
    width: 60%;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
}
.producto img {
    height: 40%;
}

.card-product {
    max-height: 30rem;
}

